.container{
  position: relative;
  height: 100vh;
  width: 100%;
}
.heading{
  background-color:rgb(146, 110, 180);
  display: block;
  height: 50px;
  padding: 7px;
  margin-top: 3px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row{
  height: 89%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editor{
  position: relative;
  box-shadow: inset 0 0 8px rgb(161, 160, 160);
  height: 100%;
  width: 50%;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview{
  box-shadow: inset 0 0 8px rgb(161, 160, 160);
  border-left: 2px solid black;
  position: relative;
  height: 100%;
  width: 50%;
  box-sizing:content-box;
  
  overflow-y:scroll;
  display: flex;
  
  
}
.editor-input{
  height: 100%;
  width: 100%;
}
@media(min-width:990px){
 .editor{
  height: 100%;
  
 }
 .preview{
  height: 100%;
 }
}